#
# RINA IPCPs configuration
#
# Written by Francesco Salvestrini <f.salvestrini@nextworks.it>
#

config RINA_NORMAL_IPCP
	tristate "Normal IPC Process"
	default y
	help
	  No help for the time being

if RINA_NORMAL_IPCP

menu "DTCP"
choice RINA_DTCP_RCVR_ACK
       prompt "Received ACK policy"
       default RINA_DTCP_RCVR_ACK

config RINA_DTCP_RCVR_ACK
       bool "Use rcvr-ack"

config RINA_DTCP_RCVR_ACK_ATIMER
       bool "Use to rcvr-ack ATIMER"
endchoice
endmenu

endif

config RINA_SHIM_ETH_VLAN
	tristate "Shim IPC over Ethernet (using VLANs) support"
	default m
        depends on RINARP
	help
	  No help for the time being

config RINA_SHIM_ETH_VLAN_BURST_LIMITING
	bool "Ethernet burst limiting"
	default n
        depends on RINA_SHIM_ETH_VLAN
        help
	  No help for the time being

config RINA_SHIM_ETH_VLAN_BURST_LIMIT
       depends on RINA_SHIM_ETH_VLAN_BURST_LIMITING
       int "Receiver burst limit frames count"
       default 50
       help
         No help for the time being

config RINA_SHIM_ETH_VLAN_REGRESSION_TESTS
	bool "Perform regression testing upon loading"
	default n
        depends on RINA_SHIM_ETH_VLAN
	help
	  No help for the time being

config RINA_SHIM_TCP_UDP
	tristate "Shim IPC over TCP/UDP support"
	default m
	help
	  No help for the time being

config RINA_SHIM_TCP_UDP_BUFFER_SIZE
        int "Buffer size"
	default 1500
        range 2 65535
        depends on RINA_SHIM_TCP_UDP
	help
	  No help for the time being

config RINA_SHIM_HV
	tristate "Shim IPC for Hypervisors"
	default m
        depends on (VMPI_KVM_GUEST || VMPI_KVM_HOST || \
                   VMPI_XEN_GUEST || VMPI_XEN_HOST)
	help
	  No help for the time being
