#
# RINA IPCPs configuration
#
# Written by Francesco Salvestrini <f.salvestrini@nextworks.it>
#

config RINA_NORMAL_IPCP
	tristate "Normal IPC Process"
	default y
        depends on RINA_PERSONALITY_DEFAULT
	help
	  No help for the time being

config RINA_RELIABLE_FLOW_SUPPORT
	bool "Reliable flow support"
	default y
        depends on RINA_NORMAL_IPCP
	help
	  No help for the time being

config RINA_RMT_REGRESSION_TESTS
	bool "RMT regression tests"
	default n
        depends on RINA_REGRESSION_TESTS && RINA_NORMAL_IPCP
	help
	  No help for the time being

config RINA_PFT_REGRESSION_TESTS
	bool "PFT regression tests"
	default n
        depends on RINA_REGRESSION_TESTS && RINA_NORMAL_IPCP
	help
	  No help for the time being

config RINA_SHIM_DUMMY
	tristate "Shim IPC Dummy (loopback)"
	default m
        depends on RINA_PERSONALITY_DEFAULT && RINA_DEBUG
	help
	  No help for the time being

config RINA_SHIM_ETH_VLAN
	tristate "Shim IPC over Ethernet (using VLANs) support"
	default m
#        depends on RINA_PERSONALITY_DEFAULT && RINARP && VLAN_8021Q
        depends on RINA_PERSONALITY_DEFAULT && RINARP
	help
	  No help for the time being

config RINA_SHIM_ETH_VLAN_BURST_LIMITING
	bool "Ethernet burst limiting"
	default n
        depends on RINA_SHIM_ETH_VLAN
        help
	  No help for the time being

config RINA_SHIM_ETH_VLAN_BURST_LIMIT
       depends on RINA_SHIM_ETH_VLAN_BURST_LIMITING
       int "Receiver burst limit frames count"
       default 50
       help
         No help for the time being

config RINA_SHIM_ETH_VLAN_REGRESSION_TESTS
	bool "Perform regression testing upon loading"
	default n
        depends on RINA_SHIM_ETH_VLAN
	help
	  No help for the time being

config RINA_SHIM_TCP_UDP
	tristate "Shim IPC over TCP/UDP support"
	default m
        depends on RINA_PERSONALITY_DEFAULT
	help
	  No help for the time being

config RINA_SHIM_HV
	tristate "Shim IPC for Hypervisors"
	default m
        depends on RINA_PERSONALITY_DEFAULT && \
                   (VMPI_KVM_GUEST || VMPI_KVM_HOST || \
                    VMPI_XEN_GUEST || VMPI_XEN_HOST)
	help
	  No help for the time being
