*~
*.swp

*.orig

.deps
.libs
.dirstamp
.directory
.autotools
.fuse*
.settings/

Makefile
Makefile.in

TAGS

/.version
/.tarball-version

/AUTHORS
/ChangeLog
/NEWS

/autom4te.cache
/aclocal.m4
/configure
/config.log
/config.status
/confdefs.h
/conftest.c
/conftest.err

/libtool

/*.tar.gz

/wrap/java
/wrap/rina-api/rina-api.o
/src/irati
/src/ker-numtables.c
/src/serdes-utils.c

/.project
/.cproject
