*~
*.swp

*.orig

.deps
.libs
.dirstamp
.directory

/.version
/.tarball-version

/AUTHORS
/ChangeLog
/NEWS

Makefile
Makefile.in

autom4te.cache
aclocal.m4
configure
config.log
config.status
libtool
stamp-h1

*.[ao]

/*.tar.gz
