#!/usr/bin/make -f

DIST = $(shell lsb_release -sc)

debian/changelog:
	[ ! -e $@ ] || rm $@
	date=`git log -1 --date=short --format=%cd` && \
	dver=`git describe --dirty` && \
	dver=`echo $$dver |sed -r 's/-(dirty)$$/+\1/; s/^v(.+)-/\1./'` && \
	dch -pv "$$dver" --package rinad --create --force-distribution \
		-D $(DIST) "New snapshot $$date."

%:
	dh $@ --with autoreconf

# TODO: librinad-java package for Java bindings.
#override_dh_auto_configure:
#	dh_auto_configure -- --enable-java-bindings

# `make install` already installed everything so ignore the source tree.
override_dh_install:
	dh_install --fail-missing --sourcedir=debian/tmp

.PHONY: debian/changelog
