#
# RINA Data Structures configuration
#
# Written by Francesco Salvestrini <f.salvestrini@nextworks.it>
#

config RINA_MEMORY_STATS
	bool "Memory allocation/deallocation stats"
	default n
        depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_MEMORY_STATS_INTERVAL
        depends on RINA_MEMORY_STATS
	int "Rate limit mem-stat dumps (in msecs)"
        default 2000
        help
          No help for the time being

config RINA_MEMORY_DEBUG
	bool "Memory allocation/deallocation extra checks"
	default y
        depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_MEMORY_TAMPERING
	bool "Memory blocks tampering"
	default n
        depends on RINA_MEMORY_DEBUG
	help
	  No help for the time being

config RINA_MEMORY_TAMPERING_VERBOSE
	bool "Memory blocks tampering verbose bloatings"
	default n
        depends on RINA_MEMORY_TAMPERING
	help
	  No help for the time being

config RINA_MEMORY_POISONING
	bool "Memory blocks poisoning"
	default n
        depends on RINA_MEMORY_DEBUG
	help
	  No help for the time being

config RINA_MEMORY_POISONING_VERBOSE
	bool "Memory blocks poisoning verbose bloatings"
	default n
        depends on RINA_MEMORY_POISONING
	help
	  No help for the time being

config RINA_MEMORY_PTRS_DUMP
	bool "Dump pointers passed to alloc()/returned by free()"
	default n
        depends on RINA_MEMORY_DEBUG
	help
	  No help for the time being

menu "Regression testing"

config RINA_RDS_REGRESSION_TESTS
	bool "RDS regression tests"
	default n
        depends on RINA_REGRESSION_TESTS
	help
	  No help for the time being

config RINA_RTIMER_REGRESSION_TESTS
	bool "RTimer regression tests"
	default n
        depends on RINA_RDS_REGRESSION_TESTS
	help
	  No help for the time being

config RINA_RQUEUE_REGRESSION_TESTS
	bool "RQUEUE regression tests"
	default n
        depends on RINA_RDS_REGRESSION_TESTS
	help
	  No help for the time being

config RINA_RFIFO_REGRESSION_TESTS
	bool "RFIFO regression tests"
	default n
        depends on RINA_RDS_REGRESSION_TESTS
	help
	  No help for the time being

config RINA_RMEM_REGRESSION_TESTS
	bool "RMEM regression tests"
	default n
        depends on RINA_RDS_REGRESSION_TESTS
	help
	  No help for the time being

config RINA_RINGQ_REGRESSION_TESTS
	bool "RINGQ regression tests"
	default n
	depends on RINA_RDS_REGRESSION_TESTS
	help
	  No help for the time being

endmenu
