#
# VMPI
#
# Written by Francesco Salvestrini <f.salvestrini@nextworks.it>
#

menuconfig VMPI
	bool "VMPI support"
        default n

if VMPI

config VMPI_VIRTIO_GUEST
	tristate "VMPI for Virtio - guest support"
	default m
        depends on VIRTIO
	help
	  No help for the time being

config VMPI_VIRTIO_HOST
	tristate "VMPI for Virtio - host support"
	default m
        depends on VHOST
	help
	  No help for the time being

config VMPI_XEN_GUEST
        tristate "VMPI for Xen - guest support"
        default m
        depends on XEN
        help
	  No help for the time being

config VMPI_XEN_HOST
        tristate "VMPI for Xen - host support"
        default m
        depends on XEN
        help
          No help for the time being

endif
