#
# RINA configuration
#

menuconfig RINA
	bool "RINA support"
        depends on NET
	default y
	---help---
	  No help for the time being

if RINA

config RINA_SYSFS
	bool "SysFS support"
        depends on SYSFS
	default y
	help
	  No help for the time being

config RINA_DEBUG
	bool "Debugging support"
	default y
	help
	  No help for the time being

config RINA_UNFILTERED_LOGS
	bool "Unfiltered logging"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_DEBUG_SCOPES
	bool "Dump a message upon entering/exiting a scope"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_DEBUG_HEARTBEATS
	bool "Dump heartbeat messages"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_ASSERTIONS
	bool "Embedded assertions"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_PERSONALITY_DEFAULT
       	tristate "Default Personality support"
	default y
	---help---
	  No help for the time being

config RINA_SHIM_DUMMY
	tristate "Dummy Shim IPC"
	default y
        depends on RINA_PERSONALITY_DEFAULT && RINA_DEBUG
	help
	  No help for the time being

config RINA_SHIM_ETH
	tristate "Shim IPC over Ethernet support"
	default y
        depends on RINA_PERSONALITY_DEFAULT
	help
	  No help for the time being

config RINA_SHIM_TCP_UDP
	tristate "Shim IPC over TCP/UDP support"
	default y
        depends on RINA_PERSONALITY_DEFAULT
	help
	  No help for the time being

endif
