#
# RINA configuration
#

menuconfig RINA
	tristate "RINA support"
	default y
	---help---
	  No help for the time being

if RINA

config RINA_SYSFS
	bool "SysFS support"
        depends on SYSFS
	default y
	help
	  No help for the time being

config RINA_DEBUG
	bool "Debugging support"
	default y
	help
	  No help for the time being

config RINA_DEBUG_VERBOSE
	bool "Verbose debugging support (e.g. heartbeats, scopes)"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_SHIM_ETH
	bool "Shim IPC over Ethernet support"
	default y
	help
	  No help for the time being

config RINA_SHIM_TCP_UDP
	bool "Shim IPC over TCP/UDP support"
	default y
	help
	  No help for the time being

endif
