#
# RINA configuration
#

menuconfig RINA
	bool "RINA support"
        default y
	---help---
	  No help for the time being

config RINA_DEBUG
	bool "Debugging support"
        default y
	depends on RINA
	---help---
	  No help for the time being
