#
# RINA configuration
#

menuconfig RINA
	bool "RINA support"
        depends on NET && SYSFS
	default y
	---help---
	  No help for the time being

if RINA

config RINA_DEBUG
	bool "Debugging support"
	default y
        depends on RINA_ASSERTIONS
	help
	  No help for the time being

config RINA_KIPCM_LOCKS_DEBUG
	bool "K-IPC Manager locks debugging"
	default n
        depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_MEMORY_CHECKS
	bool "Memory allocation/deallocation extra checks"
	default y
        depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_MEMORY_TAMPERING
	bool "Memory blocks tampering"
	default n
        depends on RINA_MEMORY_CHECKS
	help
	  No help for the time being

config RINA_MEMORY_POISONING
	bool "Memory blocks poisoning"
	default n
        depends on RINA_MEMORY_CHECKS
	help
	  No help for the time being

config RINA_MEMORY_PTRS_DUMP
	bool "Dump pointers passed to alloc()/returned by free()"
	default n
        depends on RINA_MEMORY_CHECKS
	help
	  No help for the time being

config RINA_UNFILTERED_LOGS
	bool "Unfiltered logging"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_DEBUG_HEARTBEATS
	bool "Dump heartbeat messages"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_ASSERTIONS
	bool "Embed assertions (slowing down everything)"
	default y
	help
	  No help for the time being

config RINA_PERSONALITY_DEFAULT
       	tristate "Default Personality support"
	default m
	---help---
	  No help for the time being

config RINARP
	tristate "RINA ARP implementation"
	default m
        depends on ARP826
	help
	  No help for the time being

config ARP826
	tristate "RFC-826 ARP compliant implementation"
	default m
	help
	  No help for the time being

config ARP826_REGRESSION_TESTS
	bool "Perform regression testing upon loading"
	default n
        depends on ARP826
	help
	  No help for the time being

config RINA_NORMAL_IPCP
	tristate "Normal IPC Process"
	default y
        depends on RINA_PERSONALITY_DEFAULT
	help
	  No help for the time being

config RINA_SHIM_DUMMY
	tristate "Dummy Shim IPC"
	default m
        depends on RINA_PERSONALITY_DEFAULT && RINA_DEBUG
	help
	  No help for the time being

config RINA_SHIM_ETH_VLAN
	tristate "Shim IPC over Ethernet (using VLANs) support"
	default m
        depends on RINA_PERSONALITY_DEFAULT && RINARP && VLAN_8021Q
	help
	  No help for the time being

config RINA_SHIM_ETH_VLAN_REGRESSION_TESTS
	bool "Perform regression testing upon loading"
	default n
        depends on RINA_SHIM_ETH_VLAN
	help
	  No help for the time being

config RINA_SHIM_TCP_UDP
	tristate "Shim IPC over TCP/UDP support"
	default m
        depends on RINA_PERSONALITY_DEFAULT
	help
	  No help for the time being

endif
