#
# RINA core configuration
#
# Written by Francesco Salvestrini <f.salvestrini@nextworks.it>
#

menuconfig RINA
	bool "RINA support"
        depends on NET && SYSFS
	default y
	---help---
	  No help for the time being

if RINA

menu "Core"

config RINA_DEBUG
	bool "Debugging support"
	default y
	help
	  No help for the time being

if RINA_DEBUG

config RINA_SYSCALLS_DEBUG
       bool "Debug RINA syscalls"
       default n
       depends on RINA_DEBUG
       help
         no help for the time being

config RINA_KIPCM_LOCKS_DEBUG
	bool "K-IPC Manager locks debugging"
	default n
        depends on RINA_DEBUG
	help
	  No help for the time being

menuconfig RINA_LOGS
        bool "RINA logs"
        default y

if RINA_LOGS

config RINA_UNFILTERED_LOGS
	bool "Unfiltered logging"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being
endif

config RINA_DEBUG_HEARTBEATS
	bool "Dump heartbeat messages"
	default y
	depends on RINA_DEBUG
	help
	  No help for the time being

config RINA_REGRESSION_TESTS
	bool "Regression tests"
	default n
	help
	  No help for the time being

config RINA_ASSERTIONS
	bool "Embed assertions (slowing down everything)"
	default y
	help
	  No help for the time being
endif

source "net/rina/rds/Kconfig"

config RINA_PERSONALITY_DEFAULT
       	tristate "Default Personality support"
	default m
	---help---
	  No help for the time being

endmenu

source "net/rina/rinarp/Kconfig"

menuconfig IPC_PROCESSES
	bool "IPC Processes"
        default y

source "net/rina/vmpi/Kconfig"

if IPC_PROCESSES
source "net/rina/ipcps/Kconfig"
endif

endif
