#
# RINA core configuration
#
# Written by Francesco Salvestrini <f.salvestrini@nextworks.it>
#

menuconfig RINA
	bool "RINA support"
        depends on NET && SYSFS
	default y
	---help---
	  No help for the time being

if RINA

menuconfig RINA_DEBUG
	bool "Debugging support"
	default y
	help
	  No help for the time being

if RINA_DEBUG

config RINA_SYSCALLS_DEBUG
        bool "Debug RINA syscalls"
        default n
        help
          no help for the time being

config RINA_KIPCM_LOCKS_DEBUG
	bool "K-IPC Manager locks debugging"
	default n
	help
	  No help for the time being

config RINA_DEBUG_HEARTBEATS
	bool "Dump heartbeat messages"
	default y
	help
	  No help for the time being

config RINA_ASSERTIONS
	bool "Embed assertions (slowing down everything)"
	default y
	help
	  No help for the time being

config RINA_SUPPRESS_DEBUG_LOGS
	bool "Remove code related to debugging logs"
	default n
	help
	  No help for the time being

config RINA_REGRESSION_TESTS
	bool "Enable regression testing suites"
	default n
	help
	  No help for the time being

endif

menu "Core"

source "net/rina/rds/Kconfig"

endmenu

menuconfig IPC_PROCESSES
	bool "IPC Processes"
        default y

if IPC_PROCESSES
source "net/rina/ipcps/Kconfig"
source "net/rina/rinarp/Kconfig"
source "net/rina/vmpi/Kconfig"

endif

endif
